@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik+Mono+One&display=swap');

:root {
    --primary: #eb0a1e;
    --secondary: #f9c22e;
    --light: #e9e2cf;
    --dark: #0c090d;  
}

