@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
    --primary: #eb0a1e;
    --secondary: #f9c22e;
    --light: #e9e2cf;
    --dark: #0c090d;  
}
/* --  CONTROLES INICIALES -- */
*{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html,button{
    background: var(--light);
}
h1,h2,h3,h4,h5,h6{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}
*------------------------------*/
/*  letra nav bar  */
.nav-link{
    font-family: "Rubik Mono One", monospace;
}
/*------------------------------*/
/* - MAIN - */
main{
    background-color: var(--light);
}
.tarjetas_bot{ display: none; }
.card_titulo .icoUp{ display:  none; }
#posBot{
    width: 100vw;
    display: grid;
    align-self: center;
    align-content: center;
    padding-top: 0.5vh;
}
.botones{
    height: auto;
    display: grid;
    grid-template-columns: 5vw 42vw 6vw 42vw 5vw;
}
.botones button{
    height: auto;
    font-weight: 500;
    border: 2px solid var(--primary);
    border-radius: .8rem;
    margin: 0.5rem 1rem;
    box-shadow: 3px 3px sienna;
}
button:active {
    box-shadow: 0 0;
}
.botones .mensaje{
    grid-column-start: 2;
    grid-column-end: 4;
    border: 0;
    border-radius: 0;
    padding-left: 1.5rem;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
    box-shadow: 0 0;
}
.botones .icoUp{
    padding-left: 10rem;
}
.botones .filtros{
    display: grid;
    grid-template-columns: 3% 20% 3% 46% 3% 25%;
    grid-column-start: 2;
    grid-column-end: 5;
    margin: 1rem 0 1rem 0;
}
.botones .filtros select, 
.botones .filtros button{
    border: 2px solid var(--dark);
    border-radius: .5rem;
    height: 1.5rem;
    text-align: center;
}
.botones .filtros select{
    margin-top: .5rem;
}
.botones .filtros button{
    background-color: white;
}
.principal .botones button,
.botones .filtros select,
.botones .filtros button{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-align: center;
}
.principal #ofertas{
    width: 95vw;
    margin-left: 5vw;
    margin-bottom: 2rem;
}
#ofertas .card_titulo h3{
    text-align: center;
    animation-name: ofertas;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes ofertas{
    from{
        font-weight: 100;
    }
    to{
        font-weight: 700;
    }
}
.card_sm{
    display: grid;
    border: 2px solid var(--primary);
    border-radius: 15px;
    margin: 5px 0;
    width: 42vw;
    height: auto;
    justify-items: center;
    overflow: auto;
}
.card_sm h4{
    padding-top: 3px;
    padding-left: 5px;
}
.card_sm img{
    width: 92%;
    height: auto;
    border: 1px solid var(--dark);
    border-radius: 0.8rem;
}
.card_sm h3{
    padding-left: 8px;
}
/*-----------------------------------------------*/
#persiana{
    width: 85vw;
    height: fit-content;
    display: none;
    grid-template-columns: 35vw 65vw;
    margin-left: 7vw;
}
#persiana .msje .icoBack a img{
    margin-left: .6rem;
}
#persiana div h4#elegido{
    text-align: center;
    margin-top: 1rem;
}
#persiana div h4#elegido2{
    text-align: center;
    margin-bottom: 0.5rem;
}
#persiana .relleno2{
    border-bottom: 2px solid var(--primary);
}
#templateMustacheOfertas{
    width: 85vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
}
#persiana div img{
    border: 2px solid var(--dark);
    border-radius: 10px;
    width: 180px;
}
#persiana .msje{
    display: grid;
    grid-template-columns: 90% 10%;

}
#templateMustache .op{
    display: grid;
    grid-template-columns: 78vw 7vw;
    border-bottom: 2px solid var(--primary);
    padding: 5px 0 3px 0;
}
.op #imagen img{
    width: 65vw;
    margin: 0.4rem 0 0.4rem 2.5rem;
}
.op #descripcion{
    margin-left: 1rem;
}
.op p {
    width: 84vw;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 0.4rem;
    margin-bottom: 0.6rem;
}
/* --- ES PARA TABLET --- */
@media screen and (min-width:768px) {
    .tarjetas_bot{ display: none; }
    .botones .icoUp{ display: none; }
    .botones .RELLENO{ display: none; }
    .card_titulo .icoUp{ display:  flex; }
    #templateMustache .op .RELLENO3{ display: none; }

    nav div .nombre{
        margin-right: 50vw;
    }
    .principal{
        width: 100vw;
        display: grid;
        grid-template-columns: 25vw 75vw;
    }
    #posBot{
        width: 25vw;
        display: grid;
        align-self: flex-start;
    }
    #posBot .botones, .botones .filtros{
        display: block;
        margin-left: 1rem;
    }
    button{
        margin-top: 1rem;
        width: 21vw;
        height: 2rem;
    }
    .botones .filtros #marcas1{
        width: 20vw;
    }
    .botones .filtros button{
        width: 5rem;
        margin-left: 0;
    }
    #ofertas{
        width: 100%;
        margin-top: 0.5rem;
    }
    #ofertas .card_titulo h3{
        padding-left: 4rem;
    }
    .principal #ofertas{
        width: 75vw;
        margin-left: 0;
    }
    .card_titulo{
        display: grid;
        grid-template-columns: 85% 15%;
    }
    .card_titulo .icoUp{
        padding-right: 2rem;
    }
    .card_titulo .icoUp span{
        padding-top: 0.4rem;
        margin-right: 0.5rem;
    }
    #templateMustacheOfertas{
        display: grid;
        grid-template-columns: 43% 43%;
        justify-items: center;
    }
    .card_sm{
        width: 32vw;
    }
    /*-----------------------------------------*/
    #persiana{
        width: 70vw;
        margin-left: 1rem;
    }
    #persiana .msje{
        margin-top: 3.5rem;
    }
    #templateMustache .op{
        display: grid;
        grid-template-columns: 25vw 40vw 5vw ;
    }
    #templateMustache .op #imagen img{
        width: 22vw;
        border: 2px solid black;
        border-radius: 10px;
        margin-left: .4rem;
    }
    #templateMustache .op p{
        width: 66vw;
        margin-left: 2rem;
    }
}

/*ES PARA ESCRITORIO*/
@media screen and (min-width:992px) {
    div#posBot div.botones{ display: none; }
    div.principal{ display: block; }
    .card_titulo .icoUp{ display:  none; }
    #templateMustache .op .RELLENO3{ display: none; }
    nav div .nombre{
        margin-right: 65vw;
    }
    #posBot{
        width: 100vw;
        display: grid;
        grid-template-columns: 1;
    }
    #posBot .tarjetas_bot .tarj_titulo h4{
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        font-size: xx-large;
    }
    #templateMustacheOfertas{
        width: 84vw;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin-left: 7rem;
    }
    .card_sm{
        width: 95%;
        margin-bottom: 0.8rem;
    }
    .principal #ofertas{
        margin-top: 5vh;
        margin-bottom: 0;
    }
    .card_titulo{
        width: 84vw;
        height: auto;
        justify-content: center;
        margin-left: 7rem;
    }
    .card_sm img{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /*-------------------------------------------*/
    .tarjetas_bot{
        width: 92vw;
        height: auto;
        display: grid;
        grid-template-columns: 23vw 23vw 23vw 23vw;
        margin-top: 0.5rem;
        margin-left: 4vw;
    }
    .tarjetas_bot .tarj_titulo{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .tarjetas_bot .tarj_titulo h4{
        font-size: x-large;
        margin: 1.4rem 0 1.1rem 3rem;
    }
    .tarjetas_bot .icoUp{
        margin-top: 0.6rem;
        margin-left: 12rem;
    }
    .tarjetas_bot .tarj_bot{
        border: 2px solid var(--primary);
        border-radius: 15px;
        margin: 0.4rem 0.4rem 0.4rem 0.4rem;
        justify-content: center;
    }
    .tarjetas_bot .tarj_bot img{
        width: 92%;
        border: 1px solid var(--dark);
        border-radius: 7px;
        margin: 0.7rem;
    }
    .tarj_bot button{
        width: 77%;
        height: 2rem;
        font-weight: 500;
        border: 2px solid var(--primary);
        border-radius: .8rem;
        margin-top: 0;
        margin-left: 2.4rem;
        margin-bottom: 0.7rem;
        box-shadow: 3px 3px sienna;
    }
    .tarjetas_bot .filtros{
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        justify-content: space-around;
    }
    .tarjetas_bot .filtros select{
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        text-align: center;
        height: 1.8rem;
        border: 2px solid var(--dark);
        border-radius: 0.7rem;
        margin-top: 1rem;
    }
    .tarjetas_bot .filtros button{
        width: 7vw;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        align-self: flex-end;
        background-color: white;
        border-color: var(--dark);
        border-radius: 0.7rem;
    }
    .tarjetas_bot .filtros #años2{
        width: 7vw;
    }
    /*-------------------------------------------*/
    #ofertas .card_titulo{
        grid-template-columns: 100%;
    }
    #ofertas .card_titulo h3{
        padding-left: 0;
    }
    #persiana{
        width: 70vw;
        margin-left: 12rem;
    }
    #persiana .relleno2{
        border-bottom: 2px solid var(--primary);
    }
    #persiana #templateMustache .op{
        width: 100%;
        display: grid;
        grid-template-columns: 20vw 43vw 3vw;
        grid-gap: 1rem;
        border-bottom: 2px solid var(--primary);
        padding: 7px 0 3px 20px;
    }
    #persiana #templateMustache .op #imagen img{
        width: 19.5vw;
        margin-top: .6vw;
    }
    #templateMustache .op p{
        width: 100%;
        margin-left: 2rem;
    }
}
