<footer>
    <div class="container-footer">
      <h2 class="titulo">Seguinos en nuestras redes</h2>

      <div class="redes">
        <a href="https://www.facebook.com/"><img src="{{url_for('static', filename='/img/inicio/facebook.svg')}}" alt="facebbok" /></a>
        <a href="https://www.instagram.com/"><img src="{{url_for('static', filename='/img/inicio/instagram.svg')}}" alt="instagram" /></a>
        <a href="https://twitter.com/?lang=es"><img src="{{url_for('static', filename='/img/inicio/x.svg')}}" alt="x" /></a>
      </div>

      <p class="titulo">© E-Cars 2024</p>
    </div>
  </footer>