html, h2, h3, h4, h5{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: var(--light);
}
.container-fluid_datos{
    background-color: var(--light);
}
/*---------------------------------------------------*/
/*           AGREGADO PARA PAGINA USADOS             */
/*---------------------------------------------------*/
.botones{
    display: flex;
    flex-direction: column;
}
.tarjetas_bot{
    display: none;
}
.bot_encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icoUp{
    margin-left: 45%;
}
.bot_cuadro1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bot1{
    background-color: var(--light);
    font-weight: 500;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: .8rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    border-radius: 11px;
    border: solid var(--primary);
    box-shadow: 5px 3px 5px darkslategray;
}
.bot1:active, #bot_filtro:active{
    box-shadow: 0 0 0;
}
.filtros{
    display: flex;
    justify-content: center;
}
#años1, #marcas1{
    font-weight: 500;
    margin-top: 0.8rem;
    margin-right: 1rem;
    border-radius: 6px;
}
#bot_filtro{
    font-weight: 600;
    width: 5rem;
    height: 2rem;
    border-radius: 8px;
    box-shadow: 5px 3px 5px darkslategray;
    margin-top: 0.8rem;
}
.mostrarVehiculos, #descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4.7%;
}
.imagVolver{
    display: flex;
    justify-content: center;
}
.imag_muestra{
    width: 40rem;
    height: 21rem;
    border: solid 3px black;
    border-radius: 20px;
}
.descripcion_vehiculo{
    width: 40rem;
}

/*---------------------------------------------------*/
/*         AGREGADO PAGINA Manejo de Datos           */
/*---------------------------------------------------*/
.tituloManejoDatos{
    text-align: right;
    padding: .4rem 0 .4rem;
}
.descripcion_vehiculo2{
    width: 95%;
    padding-left: 0.7rem;
}

.descripcion_vehiculo3{
    width: 40rem;
}
.precioIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.precioIcons h2{
    margin-left: 22%;
}
.iconosEditar{
    display: flex;
    flex-direction: column;
    border: solid 1px var(--dark);
    border-radius: 3px;
    justify-content: flex-end;
}
.datosAuto{
    display: grid;
    grid-template-columns: 11% 70%;
    justify-content: center;
}

/*---------------------------------------------------*/
/*         AGREGADO PAGINA Editado de Datos           */
/*---------------------------------------------------*/
input{
    font-weight: 500 !important;
}
.botEditar{
    text-align: center;
    border: solid 2px var(--primary);
    border-radius: 8px;
    box-shadow: 5px 5px 5px;
    width: 15%;
    margin-top: .4rem;
    margin-left: 2rem;
}
.botEditar:active{
    box-shadow: 0 0 0 ;
}
