{% include 'defaults/head.html' %}
<body>
    {% include 'defaults/header.html'%}
    <div class="principal">
        <div id="posBot">
            <div class="botones">
                <div class="bot_encabezado">
                    <div class="tarj_titulo">
                        <h4>Elija tipo de vehiculo:</h4>
                    </div>
                    <div class="icoUp">
                        <span>Inicio</span>
                        <br>
                        <a href="/">
                            <img src="../static/img/square-alt-arrow-up.svg" style="width:35px; border:0px" alt="ARRIBA">
                        </a>
                    </div>
                </div>
                <div class="bot_cuadro1">
                    <div>
                        <button onclick="location.href='/catalogoUsados/Compactos'" class="Compactos bot1">Compactos 3 puertas</button>
                        <button onclick="location.href='/catalogoUsados/Hatchbacks'" class="Hatchbacks bot1">Hatchbacks</button>
                    </div>
                    <div>
                        <button onclick="location.href='/catalogoUsados/Sedans'" class="Sedans bot1">Sedan 4 puertas</button>    
                        <button onclick="location.href='/catalogoUsados/Camionetas'" class="Camionetas bot1">Camionetas</button>
                    </div>
                    <div>
                        <button onclick="location.href='/catalogoUsados/Cabriolets'" class="Cabriolets bot1">Cabriolets</button>    
                        <button onclick="location.href='/catalogoUsados/Vans'" class="Vans bot1">Van Cargo</button>
                    </div>
                    <div>
                        <button onclick="location.href='/catalogoUsados/SUVs'" class="SUVs bot1">SUV's</button>    
                        <button onclick="location.href='/catalogoUsados/Camiones'" class="Camiones bot1">Camiones</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="mostrarVehiculos">
            {% for i in productos %}
            <div class="cadaAuto">

                <div class="imagVolver">
                    <img class="imag_muestra" src="../static/img/catalogo_usados/{{i[1]}}/{{i[2]}}" alt="{{i[3]}}">
                    <div class="volver">
                        <a href="/catalogoUsados/None" alt= "Volver">
                            <img src="../static/img/square-alt-arrow-up.svg" style="width:25px; border:0px">
                        </a>
                    </div>
                </div>

                <div id="descripcion">
                    <h2> <img src="../static/img/Punto.svg" style="width:20px; border:0px; margin-top:3px">
                        <span>  </span><span>{{i[6]}}</span> <span>-</span> <span>{{i[5]}}</span></h2>
                    <h2><span>$</span> <span>{{i[4]}}</span></h2>
                    <h3><span>{{i[7]}}</span><span>Km</span> <span>-</span> <span>Año: </span><span>{{i[9]}}</span></h3>
                    <h3><span>Modelo:</span> <span>{{i[8]}}</span></h3>
                    <br/>
                </div>
                <hr>
            </div>
            {% endfor%}
        </div>
    </div>
</body>
    